.item {
  border: 1px solid grey;
  margin: 10px;
  float: left;
  width: 25%;
  height: 400px;
  flex: none;
  position: relative;
  text-align: left;
}

.itemWithFourth {
  border: 1px solid grey;
  margin: 10px;
  float: left;
  width: 25%;
  height: 400px;
  flex: none;
  position: relative;
  text-align: left;
}

.image {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color:grey;
}

.icon:hover {
  color: white;
}

.title,
.list {
  position: center;
  max-height: 800px;
  display: flex;
  margin: 20px;
  text-align: left;
  margin-left: 18%;
  margin-right: 18%;
}

.compare {
  position: fixed;
  border: 2px solid grey;
  top: 20%;
  right: 30%;
  width: 40%;
  height: 60%;
  z-index: 1;
  text-align: center;
  overflow-y: auto;
  background-color: white;
}

#compareDark {
  background: black;
}

.comparing {
  margin-left: 5%;
  text-align: left;
}

.compareName {
  display: flex;
  margin: 3%;
  font-size: 16px;
}

.compareFeature {
  display: flex;
}

.feature {
  flex: 2;
}

.shownRating {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
}

.hiddenRating {
  position: absolute;
  bottom: 4px;
  left: 0;
  display: flex;
}

.compareNameLeft,
.compareNameRight {
  font-weight: bold;
  width: 50%;
  font-size: 24px;
}

.feature {
  margin-top: 1%;
  margin-bottom: 2%;
}

.middle {
  font-weight: bold;
  flex: 2;
}

.checks {
  flex: 1;
}


.fa-chevron-left:hover,
.fa-chevron-right:hover {
  cursor: pointer;
}

.fourth {
  position:absolute;
  z-index:1;
  top: -1px; right: -1px; bottom:0; left:0;
  height: 101%;
  background-image: linear-gradient(to left, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 200%);
}

.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 15%;
  z-index: 2;
}

.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: 2;
}

.arrowDark {
  color:white;
}

.rightArrowDark {
  color: black;
}

.relatedList,
.inventoryList {
  position:relative;
}

.cross-out {
  text-decoration: line-through;
}

.redPrice {
  color: red;
  margin-right:3%;
}

.category {
  color:grey;
  margin: 1%;
}

.relatedName {
  font-size: 18px;
  margin: 2% 1%;
}

.image:hover,
.relatedName:hover {
  filter: drop-shadow(2px 2px 2px black);
  cursor: pointer;
}

.relatedPrice {
  display: flex;
  font-size: 12px;
  color:grey;
  margin: 1%;
}

.reLatedRating {
  margin: 1%;
}