button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
}

#overviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 900px;
  min-height: 550px;
  width: 100%;
  height: max-content;
}

#options-master {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 900px;
  min-height: 550px;
  width: max-content;
  height: max-content;
}

#options-container {
  display: flex;
  flex-direction: column;
}

#mainImage {
  /* width: 825px;
  height: 550px;
  object-fit: fill; */
}

.expanding {
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-direction:normal;
  animation-delay: 0ms;
  animation-fill-mode:forwards;
}

.deexpanding {
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-delay: 0ms;
  animation-fill-mode:backwards;
}

.expanded {
  transform: matrix(1.65, 0, 0, 1, 260, 0);
}

.expanded:hover {
  cursor: crosshair;
}

#main-image-container {
  /* width: 825px;
  height: 1000px;
  object-fit: fill; */
 }

 @keyframes stretch {
   0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
   }
   100% {
    transform: matrix(1.65, 0, 0, 1, 260, 0)
   }
 }

#smallCarouselContainer {
  /* display:flex; */
  display: none;
  flex-direction: column;
  z-index: 1;
  margin-right: -125px;
}

.smallCarouselImages {
  height: 50px;
  width: 70px;
}

#descriptionContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.veritcalLine {
  border-left: 1px solid black;
  height: auto;
}

#stylesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

#display-sale-price {
  color: red;
}

#display-old-price {
  text-decoration: line-through;
}

.small-carousel-highlight {
  border-bottom: 2px solid yellow;
}

.overview-rating {
  position: absolute;
  display:flex;
  flex-direction: row;

}

.overview-hidden-rating {
  position: absolute;
}

#ovrating-container {

}

#overview-reviews-link {
  margin-left: 100px;
}

.carousel-shevrons {
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  height: 20px;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  transition: background-color 0.4s ease;
  border: none;
  padding: none;
}

.carousel-shevrons path {
  fill: none;
  /* stroke: #737373; */
  stroke: black;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  line-height: 1.4;
}

#sc-up {
  transform: rotate(180deg);
}

#c-left {
  position:absolute;
  transform: rotate(180deg) scale(2);
}

#c-right {
  position: absolute;
  transform: rotate(0deg) scale(2);
}

#overview-main {
  display: flex;
  margin: 0;
  padding: 0;
  width: fit-content;
  padding-right: 15px;
}

#main-image-container {
  display: flex;
  margin: auto;
  height: 550px;
  width: 825px ;
  justify-content:center;
  /* width: calc(50% - 60px); */
}

#main-image-container img {
  margin: auto;
  height: 550px;
  width: 825px;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  vertical-align: middle;
  object-fit: cover;
}

/* <img
class="HYpZP Cq95f"
name="mobile-gallery-image"
alt="CONVERSE Chuck Taylor<sup>®</sup> All Star<sup>®</sup>Lugged Boot, Main, color, BLACK/ WHITE/ BLACK"
style="pointer-events: auto; transform: translate3d(0px, 0px, 0px) scale(1);"
srcset="https://n.io.nordstrommedia.com/id/sr3/f7be7dcf-6612-4bc3-aae2-768f5f497efc.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;trim=color&amp;trimcolor=FFF&amp;w=780&amp;h=838 1x,
        https://n.io.nordstrommedia.com/id/sr3/f7be7dcf-6612-4bc3-aae2-768f5f497efc.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;trim=color&amp;trimcolor=FFF&amp;w=780&amp;h=838&amp;dpr=2 2x"
src="https://n.io.nordstrommedia.com/id/sr3/f7be7dcf-6612-4bc3-aae2-768f5f497efc.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;trim=color&amp;trimcolor=FFF&amp;w=780&amp;h=838"
> */

/* transform: translate3d(0px, 0px, 0px) scale(1); z stays 0px */

#options-price {
  padding-top: 5px;
  padding-bottom:5px;
}

#options-price span {
  padding-left: 3px;
}

#overview-social-media {
  padding-top: 5px;
  padding-bottom: 10px;
}

#size-select-warning-div {
  min-height: 20px;
}

.specific-style-selector {
  display:flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  flex-basis: 23%;
  justify-content: center;
}

.four-per-line {

  display:flex;
  flex-direction: column;
  align-items:flex-end;
}

.style-selector-image {
  margin: auto;
  height: 100px;
  width: 100px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  border-radius: 100%;
  vertical-align: middle;
  /* background: url(imgpath) no-repeat center; */
  /* background-size: cover; */
}

.style-image-selector-container {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;

}

.style-selector-checkmark {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;
  padding-top: 2px;
  padding-right: 2px;
}

.style-selector-checkmark img {
  /* max-width: height%;
  max-height: 100%; */
  height: 15px;
  width: 25px;
  transform: scale(.75);
  padding-top:5px;
}

#main-carousel {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.carousel-shevron-container {
  min-width: 60px;
  z-index: 1;
}

/* #carousel-shevron-right {

}
#carousel-shevron-left {

} */