html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  color:rgb(70, 70, 70);
  letter-spacing: .05rem;
}

button:hover {
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#app-inner {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#QandA-module {
  width: 72%;
  margin: auto;
}

.QandA-module {

}

.question-unfocused {
  opacity: 25%;
}

.add-answer-modal {
  position: fixed;
  border: 1px solid black;
  top: 20%;
  right: 30%;
  width: 600px;
  height: 500px;
  background: white;
  z-index: 1;
  padding: 5px;
}

.add-question-modal {
  position: fixed;
  border: 1px solid black;
  top: 20%;
  right: 30%;
  width: 600px;
  height: 500px;
  background: white;
  z-index: 1;
  padding: 5px;
}

.dark-modal {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.question-search-bar-actual {
  border-radius: 0px;
  width: 100%;
  height: 35px;
  margin: 10px;
}

.modal-input-box {
  border-radius: 0px;
  height: 20px;
  margin: 5px 0px;
}

.QandA-title {
  margin: 10px;
}

.answers-list {
  width: 100%;
  max-height: 23em;
  overflow-y: scroll;
  background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)),
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)),
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.questions-list {
  width: 100%;
  max-height: 42em;
  overflow-y: scroll;
  background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)),
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)),
  linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 30px, 100% 30px;
  background-attachment: local, local, scroll, scroll;
}

.dark-list {
  background:
  linear-gradient(black 30%, black),
  linear-gradient(black, black 70%) 0 100%,
  radial-gradient(50% 0, farthest-side, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)),
  radial-gradient(50% 100%, farthest-side, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)) 0 100%;
  background:
  linear-gradient(black 30%, black),
  linear-gradient(black, black 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)),
  radial-gradient(farthest-side at 50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100% 40px, 100% 40px, 100% 23px, 100% 23px;
  background-attachment: local, local, scroll, scroll;
}

.question {
  /* border: 1px solid rgb(226, 226, 226); */
  margin: 10px;
}

.question-body {
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  /* float: left; */
}

.question-flavor-text {
  float: right;
  font-size: .8em;
  margin: 5px;
  color: gray;
}

.answer-flavor-text-container {
  margin: 5px 0px;
}

.answer-flavor-text {
  font-size: .8em;
  margin: 5px;
  color: gray;
}

.answer {
  /* border: 2px solid purple; */
  margin: 10px;
}

.answer-body {
  margin: 5px 0px;
}

.answer-image {
  margin: 3px;
  border: 1px solid gray;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: black;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.add-more-answers {
  margin: 10px;
  width: 10em;
  font-size: .95em;
}

.add-more-answers:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button-questions {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

.button-questions:hover {
  background-color: black;
  color: #04AA6D;
  border: 1px solid #04AA6D;
}

.answers-title {
  float: left;
  margin: 5px;
}

.modal-input {
  margin-top: 5px;
}

.input-flavor {
  font-size: .7em;
  color: gray;
  padding-bottom: 5px;
  margin-left: 2px;

}

#review-list-box {
  position: relative;
  top: 5%;
  float: right;
  width: 55%;
  max-height: 50em;
  overflow-y: scroll;
  margin: 0%;
  padding: 1%;
}

#review-list-box-dark {
  position: relative;
  top: 5%;
  float: right;
  width: 55%;
  max-height: 50em;
  overflow-y: scroll;
  margin: 1%;
  padding: 1%;
}

.review {

  left: 0;
  width: 90%;
  overflow-wrap: break-word;
  height: auto;
  font-size: 90%;
  margin-left: 0%;
  padding-left: 0%;
}

.review-items-container {
  width: 100%;
  float: left;
}

.reviewPhotoThumbnail {
  max-inline-size: 10%;
}

.reviewPhotoFullsize {
  position: absolute;

}

.review-summary {
  position: relative;
  float: left;
  text-align: left;
  width: 100%;
  font-weight: bolder;
  font-size: 18px;
}

.review-body {
  position: relative;
  float: left;
  text-align: left;
  width: 100%
}

.review-rating {
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkMark {
  size: 10px;
}

#review-breakdown-box {
  position: relative;
  top: 5%;
  float: left;
  position: static;
  width: 40%;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 1%;
}

#review-breakdown-box-dark {
  position: relative;
  top: 5%;
  float: left;
  position: static;
  width: 40%;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 1%;
}

#filters-used {
  position: relative;
  float: left;
}

#clearButton {
  left: 30%;
  position: relative;
}

.reviewBreakdownItem {
  width: 100%;
  float: left;
  position: relative;
}

/* .reviewBreakdownItem :hover {
  background-color: burlywood;
} */


#reviewTotal {
  float: left;
  width: 70%;
  background-color: grey;
  position: relative;
}

#reviewTotal :hover {
  background-color: burlywood;
}

#starDistribution {
  height: 15px;
  background-color: #04AA6D;
}

#starDistribution :hover {
  background-color: burlywood;
}

.declareStars {
  float: left;
  width: 28%;
  position: relative;
}


.subcomponent-breakdown-container {
  float: left;
  position: relative;
  width: 100%;
  clear: both;
  left: 4%
}

.componentTypeHolder {
  text-align: center;
  float: left;
  position: relative;
  width: 100%;
}

.componentTitle {
  text-align: center;
  font-size: small;
  font-weight: bold;
  float: left;
  position: relative;
  width: 100%;
}

.componentBreakdownHolder {
  position: relative;
  width: 100%;
  float: left;
  padding-bottom: 2%;
}

.tooSmall {
  float: left;
  width: 30%;
  font-size: x-small;
  text-align: left;
}

.perfectFit {
  float: left;
  width: 30%;
  font-size: x-small;
  text-align: center;
}

.tooBig {
  float: left;
  width: 30%;
  font-size: x-small;
  text-align: right;
}

.breakdownPercentageHolder {
  width: 90%;
  background-color: grey;
  float: left;
  position: relative;
}

.breakdownPercentage {
  position: relative;
  z-index: 1;
  text-align: left;
}

.add-review-box {
  position: fixed;
  border: 1px solid black;
  top: 5%;
  left: 30%;
  height: fit-content;
  max-height: 95%;
  z-index: 1;
  background-color: white;
  overflow: scroll;
}

.add-review-box-dark {
  position: fixed;
  border: 1px solid white;
  top: 5%;
  left: 30%;
  height: fit-content;
  max-height: 95%;
  z-index: 1;
  background-color: black;
  overflow: scroll;
}

.reviewFormStarContainer {
  width: 100%;
  display: flex;
}

.reviewStar {
  position: relative;
  float: left;
}

.reviewStar:hover {
  color: black
}

/* .fas fa-star {
  float: left;
} */

.formReviewRatingDescription {
  position: relative;
  float: left;
}

.review-characteristic-label {
  padding-top: 3%;
  text-align: center;
  width: 100%;
}

.radio-selection {
  display: inline-block;

}

.review-shownRating {
  position: relative;
  bottom: 0px;
  left: 0;
  display: flex;
}

.review-hiddenRating {
  position: absolute;
  bottom: 10%;
  display: flex;
}

.characterstic-radio-container {
  position: relative;
  width: 100%;
}

/* .review-characteristic-supercontainer {
  float: left;
  position: relative;
  width: 100%;
} */

.body-input-length {
  font-size: x-small;
}

.yes-review-helpful:hover {
  background-color: black;
  color: white;
}



#review-form-submit {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#review-form-submit:hover {
  background-color: black;
  color: white;
}

#review-form-close {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#review-form-close:hover {
  background-color: black;
  color: white;
}

#show-review-form {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#show-review-form:hover {
  background-color: black;
  color: white;
}

#submit-photos {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#submit-photos:hover {
  background-color: black;
  color: white;
}

#toggle-theme {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#toggle-theme:hover {
  background-color: black;
  color: white;
}

#sortOptions {
  display: inline-block;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-style: solid;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#sortOptions:hover {
  background-color: black;
  color: white;
}

#see-more-reviews {
  display: inline-block;
  border-radius: 0px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

#see-more-reviews:hover {
  background-color: black;
  color: white;
}

#clearButton {
  position: absolute;
  float: right;
  border-radius: 0px;
  background-color: white;
  padding: 15px;
  margin: 5px;
}

#clearButton:hover {
  background-color: black;
  color: white;
}

#reviews-component-holder {
  margin: auto;
  width: 72%;
}


#reviews-component-header {
  margin-top: 5%;
  font-size: 150%;
  font-weight: bolder;
}

#breakdown-header {
  float: left;
  font-size: 120%;
  font-weight: bold;
  width: 50%;
  padding-bottom: 2%;
}

#header-filter-container {
  float: left;
  width: 100%;
}

#recommended {
  font-weight: bold;
  float: left;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
/* :root {
  background-color: black;
  color: whitesmoke;
} */

#main-header-container {
  display: flex;
  align-items: center;
  min-height:75px;
  background-color: #7891bf;
  max-width: 1300px;
  margin-top:-10px;
  justify-content: space-between;
  margin-left:50px;
  border:1px solid black;
}

#announcement-container {
  padding-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header {
  letter-spacing: .5rem;
  text-decoration: underline;
  padding-left: 100px;
  color:white;
}

#search-button {
  height:24px;
  width: 24px;
}

#search-button img {
  filter: invert(1);
}

#header-inputbar {
  background-color: transparent;
  border: none;
  border-bottom:2px solid white;
  font-size:18px;
  font-weight:600px;
  color:white;
}

#header-inputbar:focus {
  outline: none;
}

#header-searchbar {
  padding-right: 40px;
}

#announcement {
  font-style: oblique;
}

.announcement-text {
  font-size: 14px;
  padding-left: 4px;
  padding-right:4px;
  text-transform: uppercase;
  font-weight:400;
}

.announcement-break {
  border-top:1px solid black;
  width: 12px;
}

#sale-offer {
  font-weight:600;
}

#new-prod {
  text-decoration: underline;
}